@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
}

h1, h2, p {
    text-align: center;
    margin: 1.5rem;
}

p {
    font-size: 1.5rem;
}

.hypotenuse, .area {
    width: 50%;
    margin: auto;
}

.in {
    display: block;
    width: 50%;
    margin: 1rem auto;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.bt {
    display: block;
    margin: 1.5rem auto;
    width: 25%;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.angle_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .lbl, .ang {
    display: block;
    margin: 0.5rem auto;
    font-size: 1.5rem;
  }
  
  .ang {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
  }
  
  .chk_btn {
    font-size: 1.2rem;
    padding: 0.7rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .ans {
      font-size: 1.5rem;
  }

  .questions{
    max-width: 50%;
    margin: 1rem auto;
    padding: 0.5rem;
  }
  
  .question_btn {
    display: block;
    max-width: 20%;
    margin: 2rem auto;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  

li {
    list-style: none;
    padding: 1.5rem;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1rem;
    color: white;
    padding: 1rem;
}

a:hover {
    color: black;
    background-color: white;
    border-radius: 1rem;
}

ul {
    display: flex;
}

nav {
    background-color: black;
}